    @font-face{
        font-family:"DIN W01 Cond";
        src:url("Fonts/5611664/5888c892-31a9-4d70-9c78-f102b2263672.eot?#iefix");
        src:url("Fonts/5611664/5888c892-31a9-4d70-9c78-f102b2263672.eot?#iefix") format("eot"),url("Fonts/5611664/c61cd1a0-335d-4e20-b287-0e2dfc539736.woff2") format("woff2"),url("Fonts/5611664/48dc5fa9-c08c-4748-8a4d-1337020f2aa7.woff") format("woff"),url("Fonts/5611664/c9bf3556-5f99-4c8b-9aec-02b173a602f8.ttf") format("truetype");
    }
