@font-face {

font-family:"DIN W01 Cond";
src:url("/Users/rigel/Desktop/hades_gallery/assets/c9bf3556-5f99-4c8b-9aec-02b173a602f8.ttf") format("truetype");

}

h1,
h3 {
  /* font-family: 'Roboto', sans-serif; */
  font-family:"DIN W01 Cond";



  color: white;
  -webkit-text-fill-color: black;
  /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 0.2rem;
  -webkit-text-stroke-color: white;
}

h2,
h3,
body {
  /* font-family: 'Roboto', sans-serif; */
  font-family:"DIN W01 Cond";



}

html,
body,
.wrapper {
  height: 100%;
}
html {
  font-size: 2vw;
}

body {
  background-color:#e6e7e80;
  color: #231f20;
}

img{
  margin: 100px;
  padding-top: 50px;
}

p{
  font-size: 0.7rem;
}

.wrapper {
  margin: 0 auto;
}

.intro {
  transition: all 1s ease-out;
  margin: 0.5rem auto;
  width: 80%;
  text-align: center;
}

.intro h1 {
  font-size: 10rem;
  font-weight: 100;
}

/* .title {
  position: relative;
  margin-bottom: 1rem;
  margin-top: 2rem;
  transition: all 5s ease-out;
} */

.location {

  color: #231f20;
  font-size: 0.7rem;

}

.date {
  font-size: 0.7rem;




}

.opening{
  padding-top: 50px;
  font-size: 0.7rem;
  margin-bottom: 10px;



}
.opening2{
  font-size: 0.7rem;
  padding-bottom: 50px;


}

.mail-list {
  font-size: 0.7rem;
  color: #231f20;
  transition: all 0.6s ease;
  border: 1px solid grey;
  padding: 0.1rem;
  text-align: center;
  margin: 1rem auto 0 auto;
  width: 18%
}

.mail-list:hover {
  border: 1px #D3D3D3;
  color: #231f20;
  cursor: pointer;
}

.mail-screen {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.mail-screen input {
  font-size: 0.7rem;
  color: #231f20;
  /* font-family: 'Roboto', sans-serif; */
  font-family:"DIN W01 Cond";

  border-bottom: 3px #231f20;
  transition: all 0.6s ease;
}

.mail-screen input:focus {
  border-bottom: 3px #231f20;
}


#mc-embedded-subscribe {
  margin-top: 30vh;
  align-self: flex-end;
  border: none;
  padding: 0.6rem;
  /* color: grey; */
}

#mc-embedded-subscribe:hover {
  color: red;
}

.thank-screen {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  justify-content: center;
}

.thank-screen span {
  margin-top: 10vh;
  font-size: 2rem;
}

.thank-screen p {
  font-size: 1rem;
  margin-top: 10vh;
}

.thank-screen h1 {
  font-size: 8rem;
}

.hidden {
  display: none;
}


@media (max-width:375px) {

  html {
    font-size: 3vw;
  }

  .intro {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }

  .location {
    margin-top: 1.5rem;
    font-size: 1.5rem;
    justify-self: flex-start;
    margin-bottom: -50px;
  }

  p{
    font-size: 1.5rem;
  }


  img{
    margin: 0px;
  }

  /* .title {
    font-size: 10rem;
    margin-bottom: 5rem;
  } */

  .date {
    font-size: 1.5rem;
  }

  .opening{
    padding-top: 30px;
    font-size: 1.5rem;
    margin-bottom: -30px;



  }
  .opening2{
    font-size: 1.5rem;
    padding-bottom: -20px;


  }

  .mail-list {
    width: 80%;
    margin-bottom: 4rem;
    font-size: 1.5rem;
    color: #231f20;
    border-color: #D3D3D3;
  }

  .hidden {
    display: none;
  }

  #mc-embedded-subscribe {
    font-size: 2rem;
  }

  .mail-screen input {
    font-size: 2rem;
    width: 80%;
    margin: 0 auto;
  }

  .mc-field-group,
  .clear {
    text-align: center;
    align-content: center;
  }


  h3 {
    font-size: 9rem;
    -webkit-text-stroke-width: 0.1rem;
  }

  .thank-screen span {
    font-size: 4rem;
  }

  .thank-screen p {
    font-size: 3rem;
    width: 90%;
  }
}
