

@font-face {
  font-family: 'Blackhaus';
  src: url('../assets/blackhaus_regular.otf') format('opentype');
}

h1,
h2,
h3,
body {
  font-family: 'Blackhaus'
}

html {
  font-size: 2vw;
}
body {
  background-color: black;
  color: white;
}

.wrapper {
  margin: auto auto;
}

.intro {
  transition: all 1s ease-out;
  margin: 4rem auto 0 auto;
  width: 80%;
  text-align: center;
}

.intro h1 {
  font-size: 12rem;
  font-weight: 200;
}

.title {
  position: relative;
  margin-bottom: 2rem;
  transition: all 5s ease-out;
}

.title span {
  position: absolute;
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  right: -4rem;
  bottom: 1rem;
  font-size: 1rem;
  color: grey;
}

.date{
  font-size: 3rem;
}

.mail-list {
  font-size: 0.8rem;
  color: grey;
  transition: all 0.6s ease;
  border: 1px solid grey;
  padding: 0.4rem;
  text-align: center;
  margin: 1rem auto 0 auto;
  width: 18%
}

.mail-list:hover { 
  border: 1px solid white;
  color: white;
  cursor: pointer;
}

.mail-screen {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.mail-screen input {
  width: 13rem;
  font-size: 2rem;
  color: white;
  font-family: 'Blackhaus';
  border-bottom: 3px solid grey;
  transition: all 0.6s ease;
}

.mail-screen input:focus {
  border-bottom: 3px solid white;
}

#mc-embedded-subscribe {
  margin-top: 30vh;
  align-self: flex-end;
  border: none;
  padding: 0.6rem;
  color: grey;
}

#mc-embedded-subscribe:hover {
  color: white;
}

.thank-screen {
  font-size: 3rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  justify-content: center;
}

.thank-screen span {
  margin-top: 10vh;
  font-size: 2rem;
}
.thank-screen p {
  font-size: 1rem;
  margin-top: 10vh;
}

.hidden {
  display: none;
}